body{
 background-color: #0284A8;
 font-family: 'Varela Round', sans-serif;
 color: white;
}

.container{
  margin: 0 auto;
  text-align: center;
}

.header{
  margin-top: 50px;
}

.controls{
  margin-top: 40px;
}

.checkBox{
  margin-left: 40px;
  color: #E1F7E7;
}

.boardContainer{
  margin-top: 40px;
}
.row{
  font-size: 0px;
}
.row > div{
  display: inline-block;
  font-size: 110px;
  border-right: solid 3px white;
  width: 100px;
  height: 102px;
  text-align: center;
  vertical-align: top;
  line-height: 100px;
}

.row > div:last-child {
  border-right: none;
}

.row>div:not(.noBottomLine){
  border-bottom: solid 3px white;

}



.reset{
  margin-top: 50px;
  color: white;
  text-decoration: none;

}

#resetBoard{
  border: solid 1px white;
  padding: 5px;
}

#resetBoard:hover{
  background-color: white;
  color: Darkslategray;
}
